.full-width{
    width: 100%;
}
.text-center{
    text-align: center;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: green;
}