<div class="bootstrap-wrapper">
    <div class="container w100">
        <div class="row mt20">
            <div class="col-md-12 text-center">
            <mat-card class="w100">
                <mat-card-title>
                    <h1>Welcome to Examportal</h1>
                </mat-card-title>
                <mat-card-content>
                    Examportal Website allow user to register themselves and they can login in portal and take a particular quiz.
                    Quizzes are divided in categories.
                    Only admin can Add, Delete, Update the categories,quizzes and questions inside quizzes
                </mat-card-content>
            </mat-card>   
            </div>
        </div>
    </div>
</div>